# dependencies
node_modules/

# Next.js
.next/
out/

# Bun
bun.lockb

# env
.env
.env.*

# local data
.data/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# editor
.vscode/
.idea/

# misc
.specstory/
.tmp/

# build artifacts
*.tsbuildinfo
